@import "./reset.css";
@import "./fonts.css";
@import "./headings.css";

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1rem;
    margin: 1em 1rem;
}

/* video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
} */

header {
    position: relative;
}

/* Utilities */

.align-center {
    text-align: center;
}

.max-width-readable {
    max-width: 800px;
}